.cont {
    padding-top: 150px;
}

.img {
    width: 200px;
    height: 200px;
}

.string {
    background-color: #1AACAC;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.button {
    min-width: 200px;
    background-color: black;
    margin-top: 10px;
    border-radius: 5px;
    color: white; /* Здесь задайте цвет текста */
}
