<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/templates/Main/main.css" rel="stylesheet">
    <link href="/templates/index.css" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="/templates/images/logo.png" class="rounded float-start" alt="logo">
                </div>

                <div class="col-6">
                    <h1 class="text-center text-black">Сити класс</h1>     
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-6 button">
                            <a href="/Profile">
                                <button type="button" class="btn btn-dark ">
                                    Профиль                             
                                </button>
                            </a>
                        </div>
                        <div class="col-6 button">
                            <a href="/Login">
                                <button type="button" class="btn btn-dark">
                                    Вход Регистрация         
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a class="nav-link" href="/Main">
                        <p>Главная</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Catalog">
                        <p>Каталог</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Feedback">
                        <p>Обратная связь</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="row">
            <div class="col-2 section-left">
                <div class="row">
                    <a class="nav-link" href="/AboutUs">
                        <p>О нас</p>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link" href="/Contacts">
                        <p>Контакты</p>
                    </a>
                </div>
            </div>
            <div class="col-7 section-mid">
                <div class="row">
                    <div class="col-8">
                        <p class="text">	
                            Мы не платим за дорогую аренду торговых точек и зарплату штату продавцов, поэтому предлагаем обувь без ценовых накруток.<br>
                            
                            На любой сезон: летняя, зимняя, демисезонная. На любой случай: модельная, повседневная, спортивная. Поступление новинок — каждый месяц. Обновление коллекции — каждый сезон. <br>
                            
                            До транспортной компании в Новосибирске — бесплатно. Выбирайте транспортную компанию. Узнавайте предварительную стоимость доставки. Отслеживайте посылку в личном кабинете.</p>
                    </div>
                    <div class="col-4">
                        <img src="/templates/images/ava.jpg" class="rounded img-fluid img float-end" alt="...">
                    </div>
                    <p class="text">Оперативно отвечаем на все ваши вопросы через VK, WhatsApp, Viber, Telegram и другие коммуникаторы.</p>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-3 border">
                            <p class="text">Aссортимент моделей обуви, сумок и аксессуаров</p>
                        </div>
                        <div class="col-3 border">
                            <p class="text">Пар обуви продаем за сезон - до 5000 пар ежемесячно</p>
                        </div>
                            
                        <div class="col-6 border">
                            <p class="text">Продаем обувь более 20 лет</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 border">
                            <p class="text">Наших покупателей – возвращаются к нам за повторными покупками</p>
                        </div>
                        <div class="col-3 border">
                            <p class="text">Организаторов совместных покупок от Калининграда до Владивостока</p>
                        </div>
                        <div class="col-6 border">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 border">
                            <p class="text">Жителям Новосибирска примерка до 5 пар обуви в выставочном зале (кроме детской обуви: продается БЕЗ примерки по 100% предоплате)</p>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <ol>
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Цены на 30-50% ниже розничных
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Оплата онлайн
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Доставка до вашей двери
                        </ol>
                        <ol>
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Заказ от 1 пары
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Гибкие условия бронирования товара — по срокам подстраиваемся под вас
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Отгрузки каждую неделю
                        </ol>
                        <ol>
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение">Бонусы за объем покупок
                            </li>
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение">Оптимальный ассортимент для региона
                                <ol type="a">
                                    <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> Оперативная рассылка о новых поступлениях на e-mail
                                    </li>
                                    <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение">Скидки в зависимости от объема и способа оплаты
                                    </li>
                                </ol>
                            <li><img class="img-ol" src="/templates/images/Pin.png" alt="Изображение"> бонусы за лояльность
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-3 section-right">
                <div class="row ">
                    <a href="https://citi-class.ru/">
                        <img src="/templates/images/banner_1.jpg" class="rounded img img-fluid float-end banners" alt="...">
                    </a>
                </div>
                <div class="row">
                    <a href="https://citi-class.ru/">
                        <img src="/templates/images/banner_2.jpg" class="rounded img img-fluid float-end banners" alt="...">
                    </a>
                </div>
                <div class="row">
                    <a href="https://citi-class.ru/">
                        <img src="/templates/images/banner_3.jpg" class="rounded img img-fluid float-end banners" alt="...">
                    </a>
                </div>
                <div class="row">
                    <a href="https://citi-class.ru/">
                        <img src="/templates/images/banner_4.jpg" class="rounded img img-fluid float-end banners" alt="...">
                    </a>
                </div>
                
            </div>
        </div>
    </section>


    <footer>
        <p>@ 2023 Все права защищены</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>