<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/templates/index.css" rel="stylesheet">
    <link href="/templates/AboutUs/AboutUs.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="/templates/images/logo.png" class="rounded float-start" alt="logo">
                </div>

                <div class="col-6">
                    <h1 class="text-center text-black">О нас</h1>     
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <a href="/Profile">
                                <button type="button" class="btn btn-dark">
                                    Профиль                             
                                </button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/Login">
                                <button type="button" class="btn btn-dark">
                                    Вход Регистрация                             
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a class="nav-link" href="/Main">
                        <p>Главная</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Catalog">
                        <p>Каталог</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Feedback">
                        <p>Обратная связь</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    

    <div class="upper center">
        <h1>Если покупать модную
            и доступную обувь,
            то в Сити-Класс!</h1>
        <h4 >
            Качественная фабричная обувь
            из России, Турции и Китая
            по адекватным ценам —
            в нашем интернет-магазине
        </h4>
    </div>

    <div class="container lower">
        <div class="row">
            <div class="row center">
                <h1>Покупать обувь в Сити-Класс – выгодно и удобно!</h1>
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Цены ниже на 30-50%</h3>
                    <p>Мы не платим за дорогую аренду торговых точек и зарплату штату продавцов, поэтому предлагаем обувь без ценовых накруток.</p>
                </div>
                <div class="col-4">
                    <h3>Более 3000 моделей обуви</h3>
                    <p>На любой сезон: летняя, зимняя, демисезонная. На любой случай: модельная, повседневная, спортивная. Поступление новинок — каждый месяц. Обновление коллекции — каждый сезон.</p>
                </div>
                <div class="col-4">
                    <h3>Доставка по всей России</h3>
                    <p>До транспортной компании в Новосибирске — бесплатно. Выбирайте транспортную компанию. Узнавайте предварительную стоимость доставки. Отслеживайте посылку в личном кабинете.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Онлайн-поддержка</h3>
                    <p>Оперативно отвечаем на все ваши вопросы через VK, WhatsApp, Viber, Telegram и другие коммуникаторы.</p>
                </div>
                <div class="col-4">
                    <h3>Гарантия возврата</h3>
                    <p>Нашли брак при получении товара? Рассмотрим претензию в самые короткие сроки.</p>
                </div>
                <div class="col-4">
                    <h3>Дарим бонусы</h3>
                    <p>Покупайте обувь в Сити-Класс и получайте бонусы и скидки за лояльность, объем покупок и постоянство.</p>
                </div>
            </div>
        </div>
    </div>


    
    <footer>
        <p>@ 2023 Все права защищены</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>