<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/templates/index.css" rel="stylesheet">
    <link href="/templates/Login/Login.css" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="/templates/images/logo.png" class="rounded float-start" alt="logo">
                </div>

                <div class="col-6">
                    <h1 class="text-center text-black">Сити класс</h1>     
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <a href="/Profile">
                                <button type="button" class="btn btn-dark">
                                    Профиль                             
                                </button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/Registration">
                                <button type="button" class="btn btn-dark">
                                    Вход Регистрация                             
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a class="nav-link" href="/Main">
                        <p>Главная</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Catalog">
                        <p>Каталог</p>
                    </a>
                </div>
                <div class="col-4">
                    <a class="nav-link" href="/Feedback">
                        <p>Обратная связь</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <form action="/Save_user" method="post">

        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="Name">
        </div>

        <div class="mb-3">
          <label for="Email" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="Email">
        </div>

        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="Password">
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Repeat password</label>
            <input name="repeat" type="password" class="form-control" id="Password">
          </div>

        <div class="row rows">
            <div class="col-6">
                <button  class="btn btn-dark button">Зарегистрироваться</button>
            </div>
            <div class="col-6">
                <a href="/Login">
                    <button type="button" class="btn btn-dark button">Войти</button>
                </a>
            </div>
        </div>
      </form>

        
    <footer>
        <p>@ 2023 Все права защищены</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>