form{
    background-color: #1AACAC;
    margin: 100px 500px 100px 500px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
}

.rows{
    text-align: center;
}

.button{
    text-align: center;
    overflow: hidden;
    width: 100%;
}